.top-container {
  background-color: #DAEAF1;
  position: relative;
  padding: 100px;
}

body {
  margin: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

p{
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin-left:20px;
  margin-right:20px;
  text-decoration: none;
}

a:hover
{
  color: #EAF6F6;
}

.profile-picture {
  height: 200px;
}

.profile-introduction
{
  width:30%;
  color: #40514E;
  margin:0 auto 0 auto;
}

hr {
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  margin-top:100px;
  margin-bottom:100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.skills-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.last-p
{
  width:30%;
  margin:0 auto 0 auto;
  margin-bottom:50px;
}
.lowest
{
  color: #EAF6F6;
  font-size:0.75rem
  margin-bottom: 0;
  padding:20px 0;
}

.middle-container
{
  margin: 100px 0;
}

.bottom-container
{
  margin-top:30px;
  background-color: #11cdd4;
  padding-top: 30px;
  padding-bottom: 20px;
}
